@import url('https://fonts.googleapis.com/css2?family=Langar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chilanka&family=Langar&display=swap');

.h1-text {
    font-family: 'Chilanka', cursive;
    padding-left: 1em;
}

@media (max-width: 400px) {
    .h1-text{
        padding-left: 1em;
    }
}

.h1-span-text {
    font-family: 'Langar', cursive;
    font-size: 1em;
}

.shadow-color {
    box-shadow: 3px 3px 10px orange;
}

#header:hover {
    transform: scale(1.01);
}