
.shadow-color {
    box-shadow: 3px 3px 10px orange;
}

.preview{
    width: 65%;
    margin: auto;
    margin-bottom: -14px;
}

#prev-div-2{
    max-width: 100%;
    min-height: 200px;
    word-wrap: break-word;
    overflow: hidden;
}

.bg-color {
    background-color: #e6e6e6;
    color:black;
}

#editor:hover, #preview:hover {
    transform: scale(1.01);
}

.editor {
    width: 55%;
    margin: auto;
}

#edit-div-2 > textarea{
    width: 100%;
    min-height: 200px;
}

.hide {
    display: none;
}

.cx {
    cursor: pointer;
    float: right;
    margin-top: .25em;
    margin-right: .50em;
}

.fas:hover {
    color: aqua;
    transform: scale(1.2);
}

#preview code {
    background: #232527;
    color: white;
    padding: 1px 4px 2px 4px;
    font-size: 12px;
    font-weight: bold;
}
#preview pre {
    background: #232527;
    color: white;
    padding: 5px 0 5px 5px;
    border-radius: 5px;
}

#preview blockquote {
    border-left: 3px solid #224b4b;
    color: #224b4b;
    padding-left: 5px;
    margin-left: 25px;
}

#preview table {
    border-collapse: collapse;
}

#preview td, #preview th {
    border: 2px solid #232527;
    padding: 2px;
}

.maximized {
    width: 95%;
}

.maximized #edit-div-2 textarea{
    width: 100%;
    min-height: 450px;
    margin-bottom: 40px;
}

.maximized #prev-div-2 {
    max-width: 100%;
    min-height: 450px;
    word-wrap: break-word;
}